

.nav-btn:hover{
    background-color: rgba(141, 8, 8, 0.103);
}
/* .focused{
    background-color: rgba(141, 8, 8, 0.103);
} */
.sidenav-container{
    background-color: var(--clr-1);
    padding: .2rem;
    box-sizing: border-box;
    display: flex;
    border-radius: var(--border-radius);
    overflow: hidden;
    float: bottom;
    position:fixed;
    bottom:0rem;
    flex-direction: row;
    width:8rem;
    height: max-content;
   left: 50%;
   right: 50%;
   transform: translate(-50%, -50%);
    z-index: 10;
    color: var(--text-color);

}
.nav-btn{
    flex-direction: column;
    width: calc(100vw/5);
    font-size: small;
}
@media screen and (max-width: 1200px) {
}