.Income-Segrigation_Container{
    background-color: var(--clr-1);
    /* background-color: rgb(180, 202, 129); */

    width: 100%;

    /* padding: 1rem; */
    border-radius: var(--border-radius);
}
.segrigation-table > tbody td:not(:last-child){
    padding: 1rem;
    background-color: rgba(105, 63, 63, 0.164);
    text-align: center;
}
.segrigation-table > thead td  {
    padding: .5rem;
    background-color: rgb(2, 0, 0);
    color: white;
    text-align: center;
    
}
@media screen and (max-width: 600px) {
    .Income-Segrigation_Container{  
        width: 100%;
       
    }
}