
*{
  box-sizing: border-box;
}
html{
  padding:0;
  margin:0
}
body{
  font-family: "SF-PRO";
  margin:0;
  padding:0;
  /* background-color: #fcc8aa2d; */
  /* background-color: #F9F9F9; */

  box-sizing: border-box;
  color: black;
}

.dm-main{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: start;
   overflow: auto;
   /* width: 1200px; */
}
.addItemContainer{
  border: black dashed 2px;
  border-radius: 1rem;
  background-color: aqua;
}
@media screen and (max-width: 1200px) {
  .dm-main{
    display: block;
    width: 100%;
    min-height: 100vh;
    padding: 0 1rem;
  }
  .dm-main{
    height: inherit;
   margin-bottom: 5rem;
   height:'max-content';
  
   border-radius:1rem;
   padding-bottom:8rem
  }
}