
*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
  background-color: #F5F7F8;
}
.kpiContainer-element{
  height: inherit;
  /* margin: 0rem .5rem; */

}
.kpiContainer{
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
  height:45vh;
  padding: .5rem;
}

@media screen and (max-width: 450px) {
  .kpiContainer-element{
    height: 90%;
    min-width: 80%;
    margin: 0 0.5rem;
  }
  .kpiContainer{
    height: 40vh;
    scroll-behavior: smooth;
  }
}