
*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
  /* background-color: #fcc8aa2d; */
  background-color: var(--background-color);

}
.kpiContainer-element{
  height: 20vh;
  min-width: 20rem;
  margin: 0 .5rem;
  /* margin: 0rem .5rem; */
  color:var(--text-color);
  border-radius:var(--border-radius);
  background-color: var(--secondary-color);

}
.kpiContainer{
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
  height:max-content;
  padding: .5rem;
}

@media screen and (max-width: 450px) {
  .kpiContainer-element{
    height: 22vh;
    min-height: 15rem;
    min-width: 80%;
    margin: 0 0.5rem;
  }
  .kpiContainer{
    padding: 1rem 0;
    /* height: max-content; */
    scroll-behavior: smooth;
  }
}